.numeros-grid {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:30px;
}

.numeros-grid h3 {
  font-family: 'Playfair Display SC';
  font-size: 32px;
  margin-bottom: 5px;
}

.numeros-grid span {
  font-family:'IBM Plex Mono';
  font-weight: bold;
  font-size: 24px;
  color: #e54;
}

@media (max-width:700px){
  .numeros, .numeros-grid{
    grid-column: 1/-1;
    
  }
  .numeros {
    grid-template-columns: 1fr;
  }
}

@media (max-width:500px){
  .numeros-grid h3{
    font-size: 24px;
  }
  .numeros-grid span {
    font-size: 18px;
  }
}